.elementor-286 .elementor-element.elementor-element-665d3193:not(.elementor-motion-effects-element-type-background),
.elementor-286 .elementor-element.elementor-element-665d3193>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-286 .elementor-element.elementor-element-665d3193 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-286 .elementor-element.elementor-element-665d3193>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-286 .elementor-element.elementor-element-5290fa5c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-286 .elementor-element.elementor-element-5290fa5c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-286 .elementor-element.elementor-element-2f556c59>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-286 .elementor-element.elementor-element-2f556c59 {
    padding: 10px 0px 10px 0px;
}

.elementor-286 .elementor-element.elementor-element-51d9b3d2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-286 .elementor-element.elementor-element-51d9b3d2>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-286 .elementor-element.elementor-element-b5a3749 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-286 .elementor-element.elementor-element-3d3fff34>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-286 .elementor-element.elementor-element-3d3fff34>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item>.premium-menu-link {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item>.premium-menu-link .premium-dropdown-icon {
    color: var( --e-global-color-text);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item:hover>.premium-menu-link {
    color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item:hover>.premium-menu-link .premium-dropdown-icon {
    color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-nav-widget-container:not(.premium-nav-pointer-framed) .premium-menu-link-parent:before,
.elementor-widget-premium-nav-menu .premium-nav-widget-container:not(.premium-nav-pointer-framed) .premium-menu-link-parent:after {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-nav-pointer-framed .premium-menu-link-parent:before,
.elementor-widget-premium-nav-menu .premium-nav-pointer-framed .premium-menu-link-parent:after {
    border-color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-active-item>.premium-menu-link {
    color: var( --e-global-color-accent);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-active-item>.premium-menu-link .premium-dropdown-icon {
    color: var( --e-global-color-accent);
}

.elementor-widget-premium-nav-menu .premium-nav-menu-item>.premium-menu-link>.premium-item-icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-premium-nav-menu .premium-nav-menu-item>.premium-menu-link>.premium-item-icon:not(.premium-lottie-animation) svg *,
.elementor-widget-premium-nav-menu .premium-nav-menu-item>.premium-menu-link>svg.premium-item-icon * {
    fill: var( --e-global-color-primary);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link .premium-dropdown-icon {
    color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu:not(.premium-hamburger-menu):not(.premium-nav-slide):not(.premium-nav-dropdown) .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-item:hover,
.elementor-widget-premium-nav-menu.premium-hamburger-menu .premium-main-nav-menu .premium-sub-menu>.premium-sub-menu-item:hover>.premium-sub-menu-link,
.elementor-widget-premium-nav-menu.premium-nav-slide .premium-main-nav-menu .premium-sub-menu>.premium-sub-menu-item:hover>.premium-sub-menu-link,
.elementor-widget-premium-nav-menu.premium-nav-dropdown .premium-main-nav-menu .premium-sub-menu>.premium-sub-menu-item:hover>.premium-sub-menu-link {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-active-item .premium-sub-menu-link .premium-dropdown-icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-premium-nav-menu .premium-sub-menu-item .premium-sub-menu-link i.premium-sub-item-icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-premium-nav-menu .premium-sub-menu-item .premium-sub-menu-link .premium-sub-item-icon:not(.premium-lottie-animation) svg *,
.elementor-widget-premium-nav-menu .premium-sub-menu-item .premium-sub-menu-link svg.premium-sub-item-icon * {
    fill: var( --e-global-color-primary);
}

.elementor-286 .elementor-element.elementor-element-29c0a02.elementor-element {
    --order: 99999/* order end hack */
    ;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu {
    justify-content: flex-end;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-sub-menu .premium-sub-menu-link {
    justify-content: flex-start;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-hamburger-toggle {
    justify-content: center;
}

.elementor-286 .elementor-element.elementor-element-29c0a02.premium-ham-dropdown .premium-mobile-menu-container,
.elementor-286 .elementor-element.elementor-element-29c0a02.premium-nav-dropdown .premium-mobile-menu-container {
    justify-content: right;
}

.elementor-286 .elementor-element.elementor-element-29c0a02.premium-hamburger-menu .premium-main-mobile-menu>.premium-nav-menu-item>.premium-menu-link,
.elementor-286 .elementor-element.elementor-element-29c0a02.premium-nav-dropdown .premium-main-mobile-menu>.premium-nav-menu-item>.premium-menu-link,
.elementor-286 .elementor-element.elementor-element-29c0a02.premium-nav-slide .premium-main-mobile-menu>.premium-nav-menu-item>.premium-menu-link {
    justify-content: flex-start;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu>.premium-nav-menu-item>.premium-menu-link {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu>.premium-nav-menu-item:hover>.premium-menu-link {
    color: #E9E9E9;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu>.premium-active-item>.premium-menu-link {
    color: #E7E7E7;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu>.premium-active-item>.premium-menu-link .premium-dropdown-icon {
    color: #F0F0F0;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-nav-menu-item>.premium-menu-link>.premium-item-icon {
    order: 0;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link {
    color: #F7F7F7;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link .premium-dropdown-icon {
    color: #FFFFFF;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu .premium-sub-menu-item:hover>.premium-sub-menu-link {
    color: #fff;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu .premium-sub-menu-item:hover>.premium-sub-menu-link .premium-dropdown-icon {
    color: #fff;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-main-nav-menu .premium-sub-menu .premium-active-item .premium-sub-menu-link .premium-dropdown-icon {
    color: #F7F7F7;
}

.elementor-286 .elementor-element.elementor-element-29c0a02 .premium-sub-menu-item .premium-sub-menu-link .premium-sub-item-icon {
    order: 1;
}

@media(max-width:1024px) {
    .elementor-286 .elementor-element.elementor-element-2f556c59 {
        padding: 12px 0px 12px 0px;
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-text);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item:hover>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-secondary);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-active-item>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-accent);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-secondary);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-active-item .premium-sub-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-primary);
    }
}

@media(max-width:767px) {
    .elementor-286 .elementor-element.elementor-element-51d9b3d2 {
        width: 50%;
    }
    .elementor-286 .elementor-element.elementor-element-3d3fff34 {
        width: 50%;
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-text);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-nav-menu-item:hover>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-secondary);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu>.premium-active-item>.premium-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-accent);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-sub-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-secondary);
    }
    .elementor-widget-premium-nav-menu .premium-main-nav-menu .premium-sub-menu .premium-active-item .premium-sub-menu-link .premium-dropdown-icon {
        color: var( --e-global-color-primary);
    }
}

@media(min-width:768px) {
    .elementor-286 .elementor-element.elementor-element-51d9b3d2 {
        width: 16.481%;
    }
    .elementor-286 .elementor-element.elementor-element-3d3fff34 {
        width: 83.519%;
    }
}